<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YJLaunchImage.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA2623D91E120E9800C7B5AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA2623F21E120E9800C7B5AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA2623FD1E120E9800C7B5AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
